﻿@model IEnumerable<Musikania2017.API.Entities.ModifiedStudent>

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>
<h3>Schema på tisdagar, Vittraskolan</h3>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonEndTime)
            </td>
        </tr>
    }
</table>
