﻿<html>
<head>
    <style>
        * {
            background-color: black;
            color: whitesmoke;
            font-family: Arial;
            text-align: left;
        }

        table {
            border: 1px solid whitesmoke;
            padding: 10px;
        }

        th {
            padding: 10px;
        }
    </style>
</head>
<body>
    <ul>
        <li>
            2017-05-21
            <ul>
                <li>
                    START: 09:00
                </li>
                <li>
                    Tried to use Enums but failed. Created a class for semester instead, probably better?
                </li>
                <li>
                    END: 10:37
                </li>
                <li>
                    START: 11:55
                </li>
                <li>
                    Added a Semester class and a FK pointing to it in the LessonsDay class.
                </li>
                <li>
                    END: 13:00
                </li>
            </ul>
        </li>
        <li>
            2017-05-22
            <ul>
                <li>
                    START: 11:19
                </li>
                <li>
                    Cant have to get methods for Students for some reason. One of them gets ignored even though the have different parameters. Had to change the URI to one of the methods which feels wrong.
                </li>
                <li>
                    END: 14:08
                </li>
            </ul>
        </li>
        <li>
            2017-05-23
            <ul>
                <li>
                    START: 10:20
                </li>
                <li>
                    Trying to get PDF generation to work....puh.
                    Can't get it to work in dotNetCore, gonna try and fix it in the frontend with JS.
                    Many hours later.....
                    Ok, a way too long session. Stoping now.... I've managed to create a JS-function that reads data from my API and then uses
                    another API (instant-PDF) to generate an ugly looking PDF. Far from finished but maybe a start.
                    Had to make the JS-funcion synchronous, not good....
                </li>
                <li>
                    END: 19:07
                </li>
            </ul>
        </li>
        <li>
            2017-05-24
            <ul>
                <li>
                    START: 08:30
                </li>
                <li>
                    More PDF generation.
                </li>
                <li>
                    END: 09:45
                </li>
            </ul>
        </li>
        <li>
            2017-05-25
            <ul>
                <li>
                    START: 07:20
                </li>
                <li>
                    Managed to create a table in the generated PDF
                </li>
                <li>
                    END 09:46
                </li>
            </ul>
        </li>
        <li>
            2017-05-26
            <ul>
                <li>
                    START: 18:00
                </li>
                <li>
                    Added links to the Index.html page
                </li>
                <li>
                    END 22:00
                </li>
            </ul>
        </li>
        <li>
            2017-05-27
            <ul>
                <li>
                    START: 12:10
                </li>
                <li>
                    Added a POST-method and a DELETE-method to the Semester Controller....Tired today....
                </li>
                <li>
                    END: 14:00
                </li>
            </ul>
        </li>
        <li>
            2017-05-28
            <ul>
                <li>
                    START: 07:00
                </li>
                <li>
                    Writing projekt summary...
                </li>
                <li>
                    END: 10:00
                </li>
            </ul>
        </li>
        <li>
            2017-06-15
            <ul>
                <li>
                    START: 
                </li>
                <li>
                    Added a HTML View for the Student Time Schedule.
                </li>
                <li>
                    END: 
                </li>
            </ul>
        </li>

    </ul>
</body>
</html>








