﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <style>
        * {
            background-color: black;
            color: whitesmoke;
            font-family: Arial;
            text-align:left;
        }

        table {
            border: 1px solid whitesmoke;
            padding: 10px;
        }

        th {
            padding : 10px;
        }

    </style>
</head>
<body>
    <h2>Musikania 2017 API &#9835;</h2>
    <h3>- Examensarbete i Backendutveckling i C# hos Lernia av Rikard Carlsson -</h3>
    <table>
        <tr>  
            <th>            
                <a target="_blank" href="/swagger">Availiable endpoints</a>
            </th>
            <th style="font-style:italic;">
                using "Swagger"
            </th>
        </tr>
        <tr>
            <th>    
                <a target="_blank" href="https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1&title=Musikania17.html#R7Vxtc9o4EP41mbn7kIzfgORjIEnbufQuc8ncXT8KLLCussTJIoT%2B%2BtOr32QCBANJx520xWtZsvZ5drW7EjkLR%2BnLJwbmyVcaQ3wWePHLWXhzFgR%2BEPbFf1Ky0pK%2BH2jBjKHYNCoEj%2BgHNELPSBcohlmlIacUczSvCieUEDjhFRlgjC6rzaYUV0edgxl0BI8TgF3p3yjmiZH6%2FavixmeIZokZ%2BjIwEx6DyfcZowtixjsLwqn6o2%2BnwPZlJpolIKbLkii8PQtHjFKuP6UvI4ilbq3a9HN3a%2B7m780g4ds8YOaT8ZWdOoyFJswlZTyhM0oAvi2kQzU9KDvwxFXCUyw%2B%2BuIjfEH8Hym%2B6Jmrb%2FYO4WxVuiUv7b1%2FIecrQwGw4FSIinHvKZ2bdu7UzGzlG5cEZqKfIE2hGEY0YBADjp6r2AJDkVneLn%2F0gSIxROBZOoc9%2FYgh81VQ7SGjCzaB5qGyrnfshwM2g9zpR3wozaYQKSSbUbXsegZ4AS0R%2B1iobYjEh5n88ABZRokVix7zOw4lsiVKMSCwivaUEm6JIokwSRCO78GKLiQ8GReWYK%2BGCWXoh2gP7MPiNuMGdGE7ojeE8YhiyoSAUD1W%2FtCj7MwMw2AmHnuwNPBz0T3IuH0VijGYZ2isXk42SYVuERlSzmlqGtlZ3ZVGLsz1Fb49Q8bhy6uMs3f7XgVx%2F1JfLks%2BJTJNkpI78cNoPUkrvHiNBL5DgjvEMv47SKEDsZgQr8KbcUa%2FwxokDSgBjGZEXGI4lT1I5SDhSK%2BNmEv7HWZzMEFkdq%2Fa3ESF5E8zaSlaJojDRyGX77QUC4v0BKK%2FKVYeMkFxDInyPxxwMM6JN5cWoxTVG4ofoc%2BRdDM9Ma%2BRuPaLa%2FEjmzM%2BokTMDyCFLBTEWcKMN2Kem9Jm0A3IdinYBLJttxfGgYOxNIMO4sNC3AuOCHHPgfj2K0C4w%2Fdw%2BA629NOt4Nt38H1IJC4dvgfD1%2Fei4wFso75DxtjeoWNsHeMapQy0TMerVQzai8W3Ve%2FAO7x6qylMWbm63bbqrRqsCDY99Ud1GF%2FLvLUwWiGRkakZ8M3A9PunAsa%2BTcmxPfJFDE120yUYLSQYgkCVBCMPCDdmGFa4l2dzo89vEDDBfdKtXluvXoOtQT9BghG50ck9zDJKHqV9PSGZZ%2BgKQoyeiwKCFo1ZXSKGq7TrSHIokhwzRYlcT9%2FACs2bWxKXWVMnRMeld8ilY6ZDdufg0NFyqxFxGLYdZDVXkMV6X1nufWvl7ZeQ7ZRKNv1pAViMgLu2d%2BHbG8O33imjt8hF2DU9Jy0pGxexO3d%2BYCGzrQVPUipcfYJIDU0%2FsoJSevNacmVt2C9bsElxd06RLK0ruevgSNZbD9bfvJF0Ve0oHNTo0J4biCKHJN7FhesClImVVrASTbZaTjEYQzzMN0%2Bb7E35E8OhZrwto82usHmds10KRObuuQG39aQ4cqu5%2FluUybQz%2BBjaPJQy7W780Uo%2Fvuud3knpp3fl%2BrXTlX7s2zhZY3YDVl340Fb40K8vKH5vy%2FjBbkTvZX3uIYMbwLt9i60TsdxK3mXlp3fZEB466fkNzCYMzTmqHCXp8vKj0OGYNZ6%2Bmy38MZ1CBmPt2Tuv3pZXj2pZYXjV4NXDJq9ujwrshbMboDaY%2FTXnUEdRd53Z72f2uWHttQo08aEVs3fr%2F90qcEg67O0uIluNPwY9Bu4ZQ%2F%2BwRfx6blwFQ%2BpbZmGZyWx35MuTStfOo3aQCS%2FrZRrfQSZoACZsobg3CLaxW%2B%2Fiwj%2FFTswHAjEKauY1CB0Qm2KuVkBsqtB2IL6hzn51QhDdCmrnIvMKRlRzkdERXeSGSLek5P5%2FC%2FmFnKHU9bnR1rVooRSW360DJ3Odxm7kjXOtf9mLH81f1vcyXvuFjXHR1DsXf6%2BJ1MhYBhoTOfAEgyxTuhSqDDy%2BmktUJWSMziXGUN6diuBKPCbF9QH0BF5n4ztUWJMFfdCpWEGx9eo1EUCi%2F6ThxSuLprZL%2BcU5I8ns6buPrpWfEOD8ZORafGVn6SJDkw7JdzkVKyhvdKxH0vpmngA5eAIyY6SxKqF7DM7FMi4wFktufkeaNiLmMhVvJ936MoFEdQSZfBCofyulOdX1M0AYyaDg4oSqRqenkfMKH4hatYLreldBFFHEHFC8UCu%2BdRzYPmp4V1kWvIlaYICq7dmFQ0UHhHJBG%2B8XB8fPOW8nNJ2LmFKR9%2BE3JSAZygx%2F6VSKMSDEvv4XOQJQ4xjf9yX%2BdQNOHV0PO99iNYIpzDhkG5Yj68R0CJlQHGu0hS%2BSpFFfQtTQK57lnY4kPS%2BkJ%2FKKl%2Fnr6dwfVN4NpDLvIONs%2FrHM9Sda1N7DVE5w8nci3JEgqpsKpyiO1SmSptpx%2BUhNZK7vQIqwTG4%2FQ%2FwMZV%2F5G%2B%2BVOA8G1cQ53%2FcrJc55%2FbGSObeSOp%2F410bscoB3LQp1uPY9oVM7ZrPxyM7A1N%2FLR3b0HvAxvjXn7usUTr%2Fbyc1BdSyyAdb1tePaBkCw5X59K8dzBu6XMrpfC7BpJ24D3Npq3sXxHEutn6%2BsvOMyupeF9rZYRpvqz22cv79090710eoOxN1A7Nd2d%2FxL1882meEbQBSXxe%2Fm0sfpi1%2BAFt7%2BDw%3D%3D">Link to UML Class Diagram</a>
            </th>
        </tr>
        <tr>        
            <th>
                <a target="_blank" href="https://bitbucket.org/rikard-c/musikania2017">Bitbucket repository</a>
         
            </th>
        </tr>
        <tr>
            <th>
                <a target="_blank" href="https://trello.com/b/X7Dsf7P6/musikania2017">Trello board</a>
            </th>
        </tr>
        <tr>
            <th>
                <a target="_blank" href="/worklog">Project WorkLog</a>
            </th>
        </tr>
        <tr>
        <th>
            <a target="_blank" href="/schedule">View Student Schedule as Html</a>
        </th>
        </tr>
        <tr>
            <th>           
                <button id="generatePdf">Generate timeschedule PDF</button>
            </th>
            <th style="font-style:italic;">                              
                calls the Mash-Ape API <a target="_blank" href="https://market.mashape.com/yogthos/instant-PDF">instant-PDF</a> to create a PDF
            </th>
        </tr>
    </table>
    <br />
    <div id="test"></div>
    <script src="main.js"></script>
</body>
</html>
