﻿@model IEnumerable<Musikania2017.API.Entities.ModifiedStudent>

@{
    ViewData["Title"] = "Students";
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
    }

    th {
        text-align: left;
    }
</style>


<h1>Studentz</h1>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Start time
        </th>
        <th>
            End time
        </th>
        <th>
            Email
        </th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMailAddress)
            </td>
        </tr>
    }
</table>


