﻿@model Musikania2017.API.Models.SemesterForCreationDto

<h1>Create</h1>

<form asp-controller="Test" asp-action="Create">
    <input asp-for"Name" />
    <input type="submit" />
</form>

@Component.InvokeAsync("Create")